.section{
    padding-top: calc(var(--section-padding-top) / 2);
    padding-bottom: var(--section-padding-bottom);
    position: relative;
}

.section h2{
    margin: 4vw 0;
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    padding: 0 35%;
}

.reviewsWrapper{
    width: 70%;
    margin: 0 15%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    padding-bottom: calc(var(--section-padding-bottom) / 2);
}

.review{
    width: 26%;
    padding: 2% 1.5%;
    margin: 2%;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

.review svg{
    width: 4vw;
    height: 4vw;
    margin: 0.5vw 0;
    color: var(--primary-color);
}

.review h3{
    font-family: var(--secondary-font);
    font-size: 1.8rem;
}

.review p{
    height: 10vw;
    overflow-y: auto;
    margin: 0.5vw 0;
    font-size: 1.2rem;
    line-height: 150%;
    color: var(--primary-text-color);
}

.review span{
    display: block;
    padding: 1vw 0;
    font-size: 1.2rem;
    font-style: italic;
    color: var(--primary-text-color);

}

.review p::-webkit-scrollbar {
    width: 5px;
}
.review p::-webkit-scrollbar-track {
    background: transparent;

}
.review p::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 999px;
}

/* SMALL LAPTOP STYLES
@media only screen and (min-width: 991px) and (max-width: 1400px){
    .reviewsWrapper{
        width: 85%;
        margin: 0 10%;
    }
    .review p{
        height: 18vw;
    }
    .review svg{
        width: 4vw;
        height: 4vw;
    }
} */

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .reviewsWrapper{
        width: 85%;
        margin: 0 7.5%;
    }
    
    .review{
        width: 40%;
        padding: 2% 2%;
        margin: 1%;
    }

    .section h2{
        margin: 5vw 0;
        padding: 0 25%;
    }
    
    .review svg{
        width: 8vw;
        height: 8vw;
        margin: 1vw 0;
        color: var(--primary-color);
    }
    
    .review p{
        margin: 1vw 0;
        height: 22vw;
        font-size: 1.4rem;
    }
    
    .review span{
        padding: 1.5vw 0;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .reviewsWrapper{
        width: 60%;
        margin: 0 20%;
    }
    
    .review{
        width: 96%;
        padding: 4% 10%;
        margin: 4% 0;
    }

    .section h2{
        margin: 8vw 0;
        padding: 0 5%;
    }
    
    .review svg{
        width: 15vw;
        height: 15vw;
        margin: 1.5vw 0;
        color: var(--primary-color);
    }
    
    .review p{
        margin: 1.5vw 0;
        height: 42vw;
        font-size: 1.4rem;
    }
    
    .review span{
        padding: 2vw 0;
    }
}