.header{
    color: var(--secondary-text-color);
    padding: 6vw 0 10vw 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h4{
    margin-top: 2vw;
    font-weight: 500;
    font-style: italic;
}

.header h1{
    font-family: var(--secondary-font);
    font-size: 5rem;
    line-height: 140%;
    text-align: center;
}

.header h1 span{
    position: relative;
}

.header p{
    text-align: center;
    padding: 3vw 27%;
    line-height: 160%;
    font-size: 1.2rem;
}

.socialLinks{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    position: absolute;
    height: 80%;
    right: 1vw;
    top: 0;
}

.socialLink{
    width: 4vw;
    height: 4vw;
    transition: 0.3s transform;
}

.socialLink:hover{
    transform: translateY(-2px);
}

.socialLink svg path{
    fill: var(--primary-color-3-light);
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .header p{
        padding: 4vw 20%;
        font-size: 1.3rem;
    }
    
    .socialLinks{
        justify-content: flex-end;
        gap: 2vw;
        right: 2vw;
    }
    
    .socialLink{
        width: 5vw;
        height: 5vw;
    }
    .header h4{
        margin-top: 3vw;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .header{
        color: var(--secondary-text-color);
        padding: 22vw 0 35vw 0;
    }
    
    .header h1{
        font-size: 3.5rem;
        padding: 0 5%;
    }
    
    .header p{
        padding: 6vw 10%;
        font-size: 1.4rem;
    }
    
    .socialLinks{
        flex-direction:row;
        gap: 5vw;
        position: absolute;
        height: auto;
        width: 100%;
        right: 0;
        top: initial;
        bottom: 6vw;
    }
    
    .socialLink{
        width: 10vw;
        height: 10vw;
    }
    .header h4{
        margin-top: 4vw;
    }
}